<a href="https://colab.research.google.com/github/Mtaimoorakmal/Python/blob/main/pythonBasicToAdvance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Program 1

In [ ]:
print("Hello World")

Hello World

# Program 2
Wrtie a Python Program to do arithmatic Operations (+.-.*,/)

In [ ]:
# Take input of numbers to do Arithmatic Operations

# num1 = float(input("Enter 1st Number: "))
# num2 = float(input("Enter 2nd Number: "))


num1 =7
num2 =2

#addition
sum = num1 + num2

#Subtraction
sub = num1 -num2

#multiplycation

mul = num1*num2

#division

div = num1 /num2

#print all arithmatic operations results

print(f"Sum : {num1} + {num2} = {sum}")
print(f"Subtraction : {num1} - {num2} = {sub}")
print(f"Multiplication : {num1} * {num2} = {mul}")
print(f"Divison : {num1} / {num2} = {div}")

Sum : 7 + 2 = 9
Subtraction : 7 - 2 = 5
Multiplication : 7 * 2 = 14
Divison : 7 / 2 = 3.5

# Program 3
write a Python Program to find the area of a Triangle

In [ ]:
# input Base and Height from the user
base = float(input("Enter the base of the Triangle: ")) # 3 entred
height = float(input("Enter the height of the Triangle: ")) # 4 entred


#Calculate the area
Area = 1/ 2 * base * height
#Display the Area
print(f"Area of the Triangle is : {Area}")

Enter the base of the Triangle: 4
Enter the height of the Triangle: 5
Area of the Triangle is : 10.0

# Program 4

write a Program to Swape Two Variables

In [2]:
#input two Variables

a = input("Enter the value of First variable (a): ")
b = input("Enter the value of Second variable (b): ")

#Display the Original Variables

print(f"Before Swaping a = {a} and b = {b}")

# now swape the values of both variables
temp = a
a = b
b = temp

#Display the Swapped Variables

print(f"After Swaping a = {a} and b = {b}")

Enter the value of First variable (a): 5
Enter the value of Second variable (b): 9
Before Swaping a = 5 and b = 9
After Swaping a = 9 and b = 5

# Program 5
Write a program to gnerate a random num

In [5]:
import random
#creat a random num from 1 to 100 (both included)
random_num = random.randint(1 , 100)
#disoplay the random num
print(f"random num from 1 to 100 : {random_num}")

random num from 1 to 100 : 65

# Program 6

Write a Python program to convert kilometers to miles.

In [6]:
#take kilometers inout from the user

kilometers = float(input("enter Kilometers : "))

#Conversion Factor 1 mile  = 1.64 kilometers
# 1 kilometer   = 1/1.64 miles

conversion_factor  = 1/1.64


miles  = conversion_factor * kilometers

# display the miles

print(f"{kilometers} Kilometers  = {miles} miles")

enter Kilometers : 44
44.0 Kilometers  = 26.829268292682926 miles

# Program 7
Write a Python program to convert miles to kilometers.

In [7]:
#take miles inout from the user

miles = float(input("enter Kilometers : "))

#Conversion Factor 1 mile  = 1.64 kilometers
# 1 kilometer   = 1/1.64 miles

conversion_factor  = 1.64


kilometers  = conversion_factor * miles

# display the miles

print(f"{miles} miles ={kilometers} Kilometers  ")

enter Kilometers : 66
66.0 miles =108.24 Kilometers

# Program 8
Write a Python program to convert Celsius to Fahrenheit.

In [6]:
#get temperatiure from user
Temp_Celsius = float(input("Enter the Temperture: "))

#covert temp from celsius to fahrenheit

Temp_fahr = (Temp_Celsius * 9/5) + 32

#dispaly the fahrenheit temperature:

print(f"{Temp_Celsius} degrees Celsius is equal to {Temp_fahr} degrees Fahrenheit.")

Enter the Temperture: 40
40.0 degrees Celsius is equal to 104.0 degrees Fahrenheit.

#Program 9
Write a Python program to display calendar.

In [15]:
import calendar

year = int(input("Enter a Year: "))

month = int(input("Enter a Month: "))

cal_month  = calendar.month(year,month)


print(cal_month)

Enter a Year: 2023
Enter a Month: 12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

# Program 10

write a program to swape two variables with temp variable

In [24]:
a = input("Enter the value of variable (a): ")
b = input("Enter the value of variable (b): ")
#display the variables
print(f"Before swaping")
print(f" a = {a}")
print(f" b = {b}")
#swape the variables
a,b = b, a
#display the variables
print(f"After swaping")
print(f" a = {a}")
print(f" b = {b}")

Enter the value of variable (a): 7
Enter the value of variable (b): 2
Before swaping
 a = 7
 b = 2
After swaping
 a = 2
 b = 7

# Program 10A
write a program to swape two variables with temp variable

In [23]:
# applicalbe on Intergers and floats only

a = int(input("Enter the value of variable (a): "))
b = int(input("Enter the value of variable (b): "))
print(f"Before swaping")
print(f" a = {a}")
print(f" b = {b}")
#swaping without temp variable
a = a+b
b = a-b
a = a-b


print(f"After swaping")
print(f" a = {a}")
print(f" b = {b}")

Enter the value of variable (a): 6
Enter the value of variable (b): 9
Before swaping
 a = 6
 b = 9
After swaping
 a = 9
 b = 6

# Program 11
Write a Python Program to Check if a Number is Positive, Negative or Zero.

In [26]:
num = float(input("Enter a Num : "))

if num > 0 :
  print(f"{num}  is a positive Number")
elif num == 0:
  print(f"{0} is Zero, and it is Nutral")
else:
  print(f"{num} is  a nagative Number")

Enter a Num : -3
-3.0 is  a nagative Number

# Program 12
Write a Python Program to Check if a Number is Odd or Even.

In [28]:
num = int(input("Enter a Number: "))

if num % 2 == 0:
          print("It is EVEN")
else:
  print("it is ODD")

Enter a Number: 77
it is ODD

# Program 13
Write a Python Program to Check Leap Year.

In [52]:
year = int(input("Enter a Year:  "))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
if year % 4 ==0 and  year % 100 != 0: #(not a century year)
  print(f"{year} is a Leap Year")

  # divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
elif year % 100 ==0 and year % 400 ==0 : #(century year)
  print(f"{year} is a Leap Year")
else:
  print(f"{year} Not a Leap Year")

Enter a Year:  2100
2100 Not a Leap Year

# Program 14
write a program to calculate Age

In [46]:
#importing required modules
from datetime import date
#defining the function for subtracting
def get_difference(startdate, enddate):
    diff = enddate - startdate
    return diff.days
#initializing dates
startdate = date(2021, 2, 5)
enddate = date.today()
#storing the result and calling the function
Total_days = get_difference(startdate, enddate)
days= (Total_days % 365) % 30
months = int((Total_days % 365)/30)
years = int(Total_days/365)
#displaying the result
print(f'Age is  {years} years , {months} Months, {days} Days ')

Age is  2 years , 10 Months, 5 Days

# Program 15
Write a Python Program to Check Prime Number.
Prime Numbers:
A prime number is a whole number that cannot be evenly divided by any other number
except for 1 and itself. For example, 2, 3, 5, 7, 11, and 13 are prime numbers because they
cannot be divided by any other positive integer except for 1 and their own value.

In [65]:
num =int(input("Enter a num: "))

# define a flag variable
flag = False
if num ==1:
  print(f"{num} is not  a prime Number")
# check for factors
elif num > 1:
  for i in range(2 , num):
    if num % i ==0: # factor is found set the flag True
      flag = True
      break

  if flag:
    print(f"{num} is not a prime Number")
  else:
    print(f"{num} is  a prime Number")

Enter a num: 5
5 is  a prime Number

In [ ]:
1