<a href="https://colab.research.google.com/github/Mtaimoorakmal/Python/blob/main/pythonBasicToAdvance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Program 1

In [ ]:
print("Hello World")

Hello World

# Program 2
Wrtie a Python Program to do arithmatic Operations (+.-.*,/)

In [ ]:
# Take input of numbers to do Arithmatic Operations

# num1 = float(input("Enter 1st Number: "))
# num2 = float(input("Enter 2nd Number: "))


num1 =7
num2 =2

#addition
sum = num1 + num2

#Subtraction
sub = num1 -num2

#multiplycation

mul = num1*num2

#division

div = num1 /num2

#print all arithmatic operations results

print(f"Sum : {num1} + {num2} = {sum}")
print(f"Subtraction : {num1} - {num2} = {sub}")
print(f"Multiplication : {num1} * {num2} = {mul}")
print(f"Divison : {num1} / {num2} = {div}")

Sum : 7 + 2 = 9
Subtraction : 7 - 2 = 5
Multiplication : 7 * 2 = 14
Divison : 7 / 2 = 3.5

# Program 3
write a Python Program to find the area of a Triangle

In [ ]:
# input Base and Height from the user
base = float(input("Enter the base of the Triangle: ")) # 3 entred
height = float(input("Enter the height of the Triangle: ")) # 4 entred


#Calculate the area
Area = 1/ 2 * base * height
#Display the Area
print(f"Area of the Triangle is : {Area}")

Enter the base of the Triangle: 4
Enter the height of the Triangle: 5
Area of the Triangle is : 10.0

# Program 4

write a Program to Swape Two Variables

In [2]:
#input two Variables

a = input("Enter the value of First variable (a): ")
b = input("Enter the value of Second variable (b): ")

#Display the Original Variables

print(f"Before Swaping a = {a} and b = {b}")

# now swape the values of both variables
temp = a
a = b
b = temp

#Display the Swapped Variables

print(f"After Swaping a = {a} and b = {b}")

Enter the value of First variable (a): 5
Enter the value of Second variable (b): 9
Before Swaping a = 5 and b = 9
After Swaping a = 9 and b = 5

# Program 5
Write a program to gnerate a random num

In [5]:
import random
#creat a random num from 1 to 100 (both included)
random_num = random.randint(1 , 100)
#disoplay the random num
print(f"random num from 1 to 100 : {random_num}")

random num from 1 to 100 : 65

# Program 6

Write a Python program to convert kilometers to miles.

In [6]:
#take kilometers inout from the user

kilometers = float(input("enter Kilometers : "))

#Conversion Factor 1 mile  = 1.64 kilometers
# 1 kilometer   = 1/1.64 miles

conversion_factor  = 1/1.64


miles  = conversion_factor * kilometers

# display the miles

print(f"{kilometers} Kilometers  = {miles} miles")

enter Kilometers : 44
44.0 Kilometers  = 26.829268292682926 miles

# Program 7
Write a Python program to convert miles to kilometers.

In [7]:
#take miles inout from the user

miles = float(input("enter Kilometers : "))

#Conversion Factor 1 mile  = 1.64 kilometers
# 1 kilometer   = 1/1.64 miles

conversion_factor  = 1.64


kilometers  = conversion_factor * miles

# display the miles

print(f"{miles} miles ={kilometers} Kilometers  ")

enter Kilometers : 66
66.0 miles =108.24 Kilometers

# Program 8
Write a Python program to convert Celsius to Fahrenheit.

In [6]:
#get temperatiure from user
Temp_Celsius = float(input("Enter the Temperture: "))

#covert temp from celsius to fahrenheit

Temp_fahr = (Temp_Celsius * 9/5) + 32

#dispaly the fahrenheit temperature:

print(f"{Temp_Celsius} degrees Celsius is equal to {Temp_fahr} degrees Fahrenheit.")

Enter the Temperture: 40
40.0 degrees Celsius is equal to 104.0 degrees Fahrenheit.

#Program 9
Write a Python program to display calendar.

In [15]:
import calendar

year = int(input("Enter a Year: "))

month = int(input("Enter a Month: "))

cal_month  = calendar.month(year,month)


print(cal_month)

Enter a Year: 2023
Enter a Month: 12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

# Program 10

write a program to swape two variables with temp variable

In [21]:
a = input("Enter the value of variable (a): ")
b = input("Enter the value of variable (b): ")
#display the variables
print(f"Before swape (a) : {a}  , (b) : {b} ")
#swape the variables
a,b = b, a
#display the variables
print(f"After swape (a) : {a}  , (b) : {b} ")

Enter the value of variable (a): 7
Enter the value of variable (b): 5
Before swape (a) : 7  , (b) : 5
After swape (a) : 5  , (b) : 7

# Program 10A
write a program to swape two variables with temp variable

In [20]:
# applicalbe on Intergers and floats only

a = int(input("Enter the value of variable (a): "))
b = int(input("Enter the value of variable (b): "))
print(f"Before swape (a) : {a}  , (b) : {b} ")
a = a+b
b = a-b
a = a-b


print(f"After swape (a) : {a}  , (b) : {b} ")

Enter the value of variable (a): 6
Enter the value of variable (b): 99
Before swape (a) : 6  , (b) : 99
After swape (a) : 99  , (b) : 6