<a href="https://colab.research.google.com/github/Mtaimoorakmal/Python/blob/main/pythonBasicToAdvance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  Program 1

In [ ]:
print("Hello World")

Hello World

# Program 2
Wrtie a Python Program to do arithmatic Operations (+.-.*,/)

In [ ]:
# Take input of numbers to do Arithmatic Operations

# num1 = float(input("Enter 1st Number: "))
# num2 = float(input("Enter 2nd Number: "))


num1 =7
num2 =2

#addition
sum = num1 + num2

#Subtraction
sub = num1 -num2

#multiplycation

mul = num1*num2

#division

div = num1 /num2

#print all arithmatic operations results

print(f"Sum : {num1} + {num2} = {sum}")
print(f"Subtraction : {num1} - {num2} = {sub}")
print(f"Multiplication : {num1} * {num2} = {mul}")
print(f"Divison : {num1} / {num2} = {div}")

Sum : 7 + 2 = 9
Subtraction : 7 - 2 = 5
Multiplication : 7 * 2 = 14
Divison : 7 / 2 = 3.5

# Program 3
write a Python Program to find the area of a Triangle

In [ ]:
# input Base and Height from the user
base = float(input("Enter the base of the Triangle: ")) # 3 entred
height = float(input("Enter the height of the Triangle: ")) # 4 entred


#Calculate the area
Area = 1/ 2 * base * height
#Display the Area
print(f"Area of the Triangle is : {Area}")

Enter the base of the Triangle: 4
Enter the height of the Triangle: 5
Area of the Triangle is : 10.0

# Program 4

write a Program to Swape Two Variables

In [ ]:
#input two Variables

a = input("Enter the value of First variable (a): ")
b = input("Enter the value of Second variable (b): ")

#Display the Original Variables

print(f"Before Swaping a = {a} and b = {b}")

# now swape the values of both variables
temp = a
a = b
b = temp

#Display the Swapped Variables

print(f"After Swaping a = {a} and b = {b}")

Enter the value of First variable (a): 5
Enter the value of Second variable (b): 9
Before Swaping a = 5 and b = 9
After Swaping a = 9 and b = 5

# Program 5
Write a program to gnerate a random num

In [ ]:
import random
#creat a random num from 1 to 100 (both included)
random_num = random.randint(1 , 100)
#disoplay the random num
print(f"random num from 1 to 100 : {random_num}")

random num from 1 to 100 : 65

# Program 6

Write a Python program to convert kilometers to miles.

In [ ]:
#take kilometers inout from the user

kilometers = float(input("enter Kilometers : "))

#Conversion Factor 1 mile  = 1.64 kilometers
# 1 kilometer   = 1/1.64 miles

conversion_factor  = 1/1.64


miles  = conversion_factor * kilometers

# display the miles

print(f"{kilometers} Kilometers  = {miles} miles")

enter Kilometers : 44
44.0 Kilometers  = 26.829268292682926 miles

# Program 7
Write a Python program to convert miles to kilometers.

In [ ]:
#take miles inout from the user

miles = float(input("enter Kilometers : "))

#Conversion Factor 1 mile  = 1.64 kilometers
# 1 kilometer   = 1/1.64 miles

conversion_factor  = 1.64


kilometers  = conversion_factor * miles

# display the miles

print(f"{miles} miles ={kilometers} Kilometers  ")

enter Kilometers : 66
66.0 miles =108.24 Kilometers

# Program 8
Write a Python program to convert Celsius to Fahrenheit.

In [ ]:
#get temperatiure from user
Temp_Celsius = float(input("Enter the Temperture: "))

#covert temp from celsius to fahrenheit

Temp_fahr = (Temp_Celsius * 9/5) + 32

#dispaly the fahrenheit temperature:

print(f"{Temp_Celsius} degrees Celsius is equal to {Temp_fahr} degrees Fahrenheit.")

Enter the Temperture: 40
40.0 degrees Celsius is equal to 104.0 degrees Fahrenheit.

#Program 9
Write a Python program to display calendar.

In [ ]:
import calendar

year = int(input("Enter a Year: "))

month = int(input("Enter a Month: "))

cal_month  = calendar.month(year,month)


print(cal_month)

Enter a Year: 2023
Enter a Month: 12
   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

# Program 10

write a program to swape two variables with temp variable

In [ ]:
a = input("Enter the value of variable (a): ")
b = input("Enter the value of variable (b): ")
#display the variables
print(f"Before swaping")
print(f" a = {a}")
print(f" b = {b}")
#swape the variables
a,b = b, a
#display the variables
print(f"After swaping")
print(f" a = {a}")
print(f" b = {b}")

Enter the value of variable (a): 7
Enter the value of variable (b): 2
Before swaping
 a = 7
 b = 2
After swaping
 a = 2
 b = 7

# Program 10A
write a program to swape two variables without temp variable

In [ ]:
# applicalbe on Intergers and floats only

a = int(input("Enter the value of variable (a): "))
b = int(input("Enter the value of variable (b): "))
print(f"Before swaping")
print(f" a = {a}")
print(f" b = {b}")
#swaping without temp variable
a = a+b
b = a-b
a = a-b


print(f"After swaping")
print(f" a = {a}")
print(f" b = {b}")

Enter the value of variable (a): 6
Enter the value of variable (b): 9
Before swaping
 a = 6
 b = 9
After swaping
 a = 9
 b = 6

# Program 11
Write a Python Program to Check if a Number is Positive, Negative or Zero.

In [ ]:
num = float(input("Enter a Num : "))

if num > 0 :
  print(f"{num}  is a positive Number")
elif num == 0:
  print(f"{0} is Zero, and it is Nutral")
else:
  print(f"{num} is  a nagative Number")

Enter a Num : -3
-3.0 is  a nagative Number

# Program 12
Write a Python Program to Check if a Number is Odd or Even.

In [ ]:
num = int(input("Enter a Number: "))

if num % 2 == 0:
  print("It is EVEN")
else:
  print("it is ODD")

Enter a Number: 77
it is ODD

# Program 13
Write a Python Program to Check Leap Year.

In [ ]:
year = int(input("Enter a Year:  "))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
if year % 4 ==0 and  year % 100 != 0: #(not a century year)
  print(f"{year} is a Leap Year")

  # divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
elif year % 100 ==0 and year % 400 ==0 : #(century year)
  print(f"{year} is a Leap Year")
else:
  print(f"{year} Not a Leap Year")

Enter a Year:  2100
2100 Not a Leap Year

# Program 14
write a program to calculate Age

In [ ]:
#importing required modules
from datetime import date
#defining the function for subtracting
def get_difference(startdate, enddate):
    diff = enddate - startdate
    return diff.days
#initializing dates
startdate = date(2021, 2, 5)
enddate = date.today()
#storing the result and calling the function
Total_days = get_difference(startdate, enddate)
days= (Total_days % 365) % 30
months = int((Total_days % 365)/30)
years = int(Total_days/365)
#displaying the result
print(f'Age is  {years} years , {months} Months, {days} Days ')

Age is  2 years , 10 Months, 5 Days

# Program 15
Write a Python Program to Check Prime Number.
Prime Numbers:
A prime number is a whole number that cannot be evenly divided by any other number
except for 1 and itself. For example, 2, 3, 5, 7, 11, and 13 are prime numbers because they
cannot be divided by any other positive integer except for 1 and their own value.

In [ ]:
num =int(input("Enter a num: "))

# define a flag variable
flag = False
if num ==1:
  print(f"{num} is not  a prime Number")
# check for factors
elif num > 1:
  for i in range(2 , num):
    if num % i ==0: # factor is found set the flag True
      flag = True
      break

  if flag:
    print(f"{num} is not a prime Number")
  else:
    print(f"{num} is  a prime Number")

Enter a num: 2
2 is  a prime Number

# Python 16
Program to display all the prime numbers within an interval

In [ ]:
# Python program to display all the prime numbers within an interval
lower = 1  # OR TAKE  INPUT => int(input ("Please, Enter the Lowest Range Value: "))
upper = 11 # OR TAKE  INPUT => int(input ("Please, Enter the Upper Range Value: "))
print("Prime numbers between", lower, "and", upper, "are:")
for num in range(lower, upper + 1):
  if num > 1:
    for i in range(2, num):
      if (num % i) == 0:
        break
    else:
      print(num)

Prime numbers between 1 and 11 are:
2
3
5
7
11

# Program 17
Swap two string variables without using third or temp variable

In [ ]:
str1 = "Good";
str2 = "morning";

print("Strings before swapping: " + str1 + " " + str2);

#Concatenate both the string str1 and str2 and store it in str1

str1 = str1 + str2;
print()
#Extract str2 from updated str1
str2 = str1[0 : (len(str1) - len(str2))]; # 0 to 3 that is good
#Extract str1 from updated str1
str1 = str1[len(str2):];   # 4 to 10 tht is good

print("Strings after swapping: " + str1 + " " + str2);

Strings before swapping: Good morning

Strings after swapping: morning Good

# Program 18
Find the Prime Factors

In [ ]:
#get a number by input
number  = int(input("Enter the number: "))
# write the function for prime factors
def get_prime_factors(number):
  factors = []
  divisor = 2
  while divisor <= number:
    if number % divisor == 0:
      factors.append(divisor)
      number = number // divisor
    else:
      divisor +=1
  return factors

# call the function
print(f"The prime factors of the {number} are:")
get_prime_factors(number)

Enter the number: 728
The prime factors of the 728 are:

[2, 2, 2, 7, 13]

# Program 19
write a python function to check if a given string is a palindrome

In [ ]:
def is_palindrome(s):
    # Convert the string into a list and eliminate all spaces
    forward = [i for i in s if i != " "]

    # Reverse the string
    reversed_str = forward[::-1]

    # Check if both are equal, then it is a palindrome
    return forward == reversed_str

while True:
    user_input = input("Enter a string (or type 'exit' to finish): ")

    if user_input.lower() == 'exit':
        break

    result = is_palindrome(user_input)
    print(f"Is '{user_input}' a palindrome? {result}")

Enter a string (or type 'exit' to finish): 786
Is '786' a palindrome? False
Enter a string (or type 'exit' to finish): level
Is 'level' a palindrome? True
Enter a string (or type 'exit' to finish): exit

# Program 20
Write a function to Sort a given String

In [ ]:
def sorted_words(words):
  return ' '.join(sorted(words.split(), key = str.casefold))

words = input("Enter the words")

sorted_words(words)

Enter the wordsapple Orange banana  Almond

'Almond apple banana Orange'

# Program 21
Write a function to Sort a given List

In [ ]:
# take a numeric input convert that into a list
arr = ((input("enter numeric values for list elements : ")).split())
print(f"this is given List:  {arr}")
#write a function to sort teh list
def sorted_array(arr):
  return sorted(arr)
print(f"this is Sorted List:  {sorted_array(arr)}")

enter numeric values for list elements : 7 2 4 9 3 5 1
this is given List:  ['7', '2', '4', '9', '3', '5', '1']
this is Sorted List:  ['1', '2', '3', '4', '5', '7', '9']

# Program 22

Find the index of elements of a list.

In [ ]:
#function to find the index
def index_all(search_list , item):
  index_list = []
  for index , value in enumerate(search_list):
    if value == item:
      index_list.append([index])
  return index_list
# Example

arr = [1,2,3,4,2,4,6,88]

index_all(arr , 4)

[[3], [5]]

# Program 23
Find the index of elements of a list(list may be of many dimentions.

You are given with a list and an element , you have to find the index of that element. list may one dimentinal , two dimentional and more dimentional

In [ ]:
#function to find the index
def index_all(search_list , item):
  index_list = []
  for index , value in enumerate(search_list):
    if value == item:
      index_list.append([index])
    elif isinstance(search_list[index] , list):
      for i in index_all(search_list[index] , item):
        index_list.append([index]+i)
  return index_list

# Examples
one_dim_arr = [1,2,3,4,2,4,6,88]
print(f"{index_all(one_dim_arr , 4)}")
#multidimentinal arrays

mul_dim_arr = [[1,2,3,5,3],2,[1,2],[1,2,3]]
print(f"{index_all(mul_dim_arr , 3)}")

mul_dim_arr1 = [[[1,2,3],2,[1,2],[1,2,3]],[2],[1,2,3]]
print(f"{index_all(mul_dim_arr1 , 2)}")

[[3], [5]]
[[0, 2], [0, 4], [3, 2]]
[[0, 0, 1], [0, 1], [0, 2, 1], [0, 3, 1], [1, 0], [2, 1]]

# Program 24
Bineary Search algorithm

In [ ]:
def binary_search(array , target):
  low , high = 0 , len(array)-1

  while low <= high:

    mid = (low+high) // 2 # devide the array into 2 equal parts
    mid_element = array[mid]

    if mid_element == target:
      return mid
    elif mid_element < target:
      low = mid +1  # discard the left half
    else:
      high = mid-1  #discard the right half

  return -1

#example #1
sorted_array1 = [1,2,3,4,5,6]
target_element1 = 3
#example # 2
sorted_array = [14, 66, 151, 235, 260, 370, 470, 476, 523, 544, 604, 626, 635, 639, 836, 837, 868, 995]
target_element = 639

result = binary_search(sorted_array, target_element)

if result != -1:
    print(f"Element {target_element} found at index {result}.")
else:
    print(f"Element {target_element} not found in the array.")

Element 639 found at index 13.

# Program 25
Leap Year

In [ ]:
year = int(input("Enter Year: "))

if (year % 100 == 0 and year % 400 == 0) or ( year % 4 == 0 and year %100 !=0 ):
  print(f"{year} is a Leap Year")
else:
  print(f"{year} is not Leap Year")

Enter Year: 2100
2100 is not Leap Year

# Program 26

write a program to find even and odd numbers from a List

In [ ]:
def evenOdd(arr):
  even = []
  odd = []
  for i in arr:
    if i%2 == 0:
      even.append(i)
    else:
      odd.append(i)
  return even ,odd

array = [1,2,3,4,5,6,7,8,9]
even , odd  = evenOdd(array)

print(f'even numbers: {even}')
print(f'Odd numbers: {odd}')

even numbers: [2, 4, 6, 8]
Odd numbers: [1, 3, 5, 7, 9]

#Program 27

Take the square of even numbers from a List

In [ ]:
def evenSquare(arr):
  even = []
  for i in arr:
    if i %2 ==0:
      i = i*i
      even.append(i)

  return even


array = [1,2,3,4,5,6,7,8,9]
evenSquare  = evenSquare(array)

print(f"even number Squares {evenSquare}")

even number Squares [4, 16, 36, 64]

#Program 27A

Take the square of odd numbers from a List

In [ ]:
def oddSquare(arr):
  odd = []
  for i in arr:
    if i %2 !=0:
      i = i*i
      odd.append(i)

  return odd


array = [1,2,3,4,5,6,7,8,9]
oddSquare  = oddSquare(array)

print(f"even number Squares {oddSquare}")

even number Squares [1, 9, 25, 49, 81]

# Program 28
**About Strings**

Strings and their operations

In [ ]:
fact = "The moon has no air" # string
fact1 = " The moon has no siund"
two_facts =  fact +  fact1  #String concatination
print(two_facts,"\n" )
fact2 = """We only see about 60% of the Moon's surface, this is known as the "near".\n"""
print(*fact2) # producing a space between the characters on sys
print(fact2)
# multiliner string
multi_lines = '''This is line 1
This is line 2
This is line 3'''
print(multi_lines)

The moon has no air The moon has no siund

W e   o n l y   s e e   a b o u t   6 0 %   o f   t h e   M o o n ' s   s u r f a c e ,   t h i s   i s   k n o w n   a s   t h e   " n e a r " .

We only see about 60% of the Moon's surface, this is known as the "near".

This is line 1
This is line 2
This is line 3

In [ ]:
# String Methods
head = "this is head"
head_uppr = head.title()
print(head)
print(head_uppr)

this is head
This Is Head

In [ ]:
# Split a string
temperatures = "Daylight: 260 F Nighttime: -280 F"
print(temperatures ,"\n")
# split method is used to convert a string into a list
# when split is applied all methods of list are applicable
temperatures_list = temperatures.split()
#split with any character inthe string
new_list = temperatures.split(':')
print(new_list , '\n')
print(temperatures_list)
# applyog a List method pop() which will pop out the last element of the list
print(temperatures_list.pop())

Daylight: 260 F Nighttime: -280 F

['Daylight', ' 260 F Nighttime', ' -280 F']

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']
F

In [ ]:
#split a multiliner String
multi_lines = '''This is line 1
This is line 2
This is line 3'''
print(multi_lines.split('\n'))

['This is line 1 ', 'This is line 2', 'This is line 3']

In [ ]:
# more string methods
moon = "This text will describe Facts and challenges with space travel"
print(moon, '\n')
print(moon.title(), '\n') # print with headinh style
print(moon.lower() , '\n') # print in lower case
print(moon.upper()) # print in upper Case

This text will describe Facts and challenges with space travel

This Text Will Describe Facts And Challenges With Space Travel

this text will describe facts and challenges with space travel

THIS TEXT WILL DESCRIBE FACTS AND CHALLENGES WITH SPACE TRAVEL

In [ ]:
# Search for a string
moon = "This text will describe Facts and challenges with space travel and much more about moon and stars , stars , stars......"
print('will' in moon) # output is True
print(moon.count('stars')) # output will be 3
print(moon.find('stars')) # retrun teh index of first appearnce

True
3
92

In [ ]:
#string to list and List to String
temp = "Daylight: 260 F Nighttime: -280 F"
print(temp , '\n')
print(temp.split(':'))
# a list to string
A_list = ['Python ', '"lists"' , 'and ' , '"strigs" ' , 'are ' , 'interchangeable ']
print(''.join(A_list))

Daylight: 260 F Nighttime: -280 F

['Daylight', ' 260 F Nighttime', ' -280 F']
Python "lists"and "strigs" are interchangeable

# String Exercise
your are gievn with a peragraph
you have to fond the sentenes cantain any of the words words like "temperature"
# This is paragraph
Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C.

In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
sentences = text.split('.')
# print(sentences)

for sentence in sentences:
  if "temperature" in sentence.lower():
    index  = sentences.index(sentence)
    print(f"The sentence at index '{index}' cantains the desired word \n")
    print(f"And the complete sentences is :\n  {sentences[index]}\n \n")

The sentence at index '5' cantains the desired word

And the complete sentences is :
   The highest daylight temperature of the Moon is 127 C

In [ ]:
templet = ''' Facts about {name}:
--------------------------------
Planet   : {planet}
Gravity on {name} is : {gravity} m/s2'''
#now use this templet
name= 'Ganymede'
planet = "Mars"
gravity = '1.43'

print(templet.format(name= name , planet= planet , gravity = gravity))

 Facts about Ganymede:
--------------------------------
Planet   : Mars
Gravity on Ganymede is : 1.43 m/s2

# **While Loop**

In [ ]:
new_planet=''
planets = []
while new_planet != "done":
    if new_planet:
        planets.append(new_planet)
    new_planet = input("enter the planet or type done : ")
print("\n" , planets)

enter the planet or type done : mars
enter the planet or type done : ,jyputer
enter the planet or type done : sun
enter the planet or type done : done

 ['mars', ',jyputer', 'sun']

# Program 28
**While loop exercise**

write a program in which take inputs from the user and saparatly save numbers , alphabets and others or mix characters.
**Finally** dispaly all those

In [ ]:
# Create the variable for user input
user_input = ""
# Create the list to store the values
numbers = []
alphabets = []
others = []

# The while loop
while user_input.lower() != 'done':
    # Check if there's a value in user_input
    if user_input.isnumeric():
        # Store the value in the list
        numbers.append(user_input)
    elif user_input.isalpha():
      alphabets.append(user_input)
    else :
      others.append(user_input)

    # Prompt for a new value
    user_input = input('Enter a new value, or done when done: ')

print(f"The Number you have entered\n {numbers}")
print(f"The Alpabets you have entered\n {alphabets}")
print(f"The Others you have entered\n {others}")

Enter a new value, or done when done: 17
Enter a new value, or done when done: 29
Enter a new value, or done when done: 82
Enter a new value, or done when done: jjj
Enter a new value, or done when done: yes
Enter a new value, or done when done: &8
Enter a new value, or done when done: hj9
Enter a new value, or done when done: ^^
Enter a new value, or done when done: done
The Number you have entered
 ['17', '29', '82']
The Alpabets you have entered
 ['jjj', 'yes']
The Others you have entered
 ['', '&8', 'hj9', '^^']

# Program 29
Given a square matrix, calculate the absolute difference between the sums of its diagonals.

In [ ]:
def diagonalDifference(arr):
    # Write your code here
    n = len(arr)
    sum_dioganal1 = 0
    sum_dioganal2 = 0
    for i in range(n):
        sum_dioganal1 += arr[i][i]
        sum_dioganal2 += arr[i][n-1-i]
      # now calculate the diff of both diaoganals
    diff = abs((sum_dioganal1) - (sum_dioganal2) )
    # print(sum_dioganal1)
    # print(sum_dioganal2)
    # print(diff)
    return diff

array = [[11,2,4] , [4,5,6] , [10, 8 ,-12]]

x = diagonalDifference(array)
print(x)
# print(f"{array[0][2]} + {array[1][1]}+{array[2][0]} :",array[0][2]+ array[1][1]+array[2][0])
# diagonalDifference(array)

15

# Program 30
# Closest Two Values

Read three integers and print the two closest values.
29 39 37
39 and 37 are two closest values.
Input Format
29 39 37
Output Format
39 and 37 are closest

In [ ]:
#  take the number space separated
numbers = input("Enter three Numbers space separated: ")
# convert the numbers in a list of integers
num_list = list(map(int , numbers.split()))
#find the differences of nymbers
num1 =abs(num_list[2] -  num_list[1])
num2 =abs(num_list[2] -  num_list[0] )
num3 =abs(num_list[1] -  num_list[0])
# check the munimum diff of num for closest numbers and print
if num3 < num1 and num3 < num2:
    print(f"{num_list[0]} and {num_list[1]} are closest")
if num2 < num1 and num2 < num3:
    print(f"{num_list[0]} and {num_list[2]} are closest")
if num1 < num2 and num1 < num3:
    print(f"{num_list[1]} and {num_list[2]} are closest")

Enter three Numbers space separated: 34 65 43
34 and 43 are closest

# Program 31
**Print the Fibonacci series**

The Fibonacci series is a sequence <br>of numbers where each number
  is the sum of the <br>two preceding ones, usually starting with 0 and 1.<br> So, the sequence goes:<br> 0, 1, 1, 2, 3, 5, 8, 13, 21, and so on.<br> Each number is called a Fibonacci number.

In this
n1 = 0
n2 = 1
next  = n1+n2

In [11]:
num = int(input("Enter a Number:"))

n1 , n2 = 0 ,1
next = 0

for i in range (num):
  print(next , end= " ")
  n1 = n2
  n2 = next
  next = n1+n2

Enter a Number:9
0 1 1 2 3 5 8 13 21

#Write a Function to print a Fuibonacci Series
The Fibonacci series is a sequence <br>of numbers where each number
  is the sum of the <br>two preceding ones, usually starting with 0 and 1.<br> So, the sequence goes:<br> 0, 1, 1, 2, 3, 5, 8, 13, 21, and so on.<br> Each number is called a Fibonacci number.

In this: <br>
n1 = 0 <br>
n2 = 1 <br>
next  = 0+1 => n1+n2

In [13]:
def fibonacci(num):
  n1 , n2 = 0 , 1
  next = 0
  series = []
  for i in range(num):
    series.append(next)
    n1 = n2
    n2 = next
    next = n1+n2

  return series


# f_series = fibonacci(6)
f_series = fibonacci(9)

print(f_series)

[0, 1, 1, 2, 3, 5, 8, 13, 21]